<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2013 4Shot Development. All rights reserved.
-->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="jaeger.Html5Video"
    version="1.2.1">

  <name>Html5Video</name>
  <author>jaeger25</author>
  <repo>https://github.com/jaeger25/Html5Video.git</repo>
  
  <js-module src="www/Html5Video.js" name="Html5Video">
    <clobbers target="plugins.html5Video" />
  </js-module>

  <!--<dependency id="org.apache.cordova.device" url="https://git-wip-us.apache.org/repos/asf/cordova-plugin-device.git" commit="master" subdir="." />-->
  <dependency id="cordova-plugin-device" url="https://git-wip-us.apache.org/repos/asf/cordova-plugin-device.git" commit="master" subdir="." />
  
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
        <feature name="Html5Video" >
            <param name="android-package" value="org.apache.cordova.plugin.Html5Video"/>
        </feature>
    </config-file>
    <source-file src="src/android/Html5Video.java" target-dir="src/org/apache/cordova/plugin" />
  </platform>

</plugin>
